<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<p> Ajouter des Boissons : <a href="{{ path('boisson') }}">Ici</a></p>
<p> Ajouter une Categorie : <a href="{{ path('categorie') }}">Ici</a></p>
<p> Ajouter un Aliments : <a href="{{ path('aliments') }}">Ici</a></p>
<p> Ajouter un users : <a href="{{ path('user') }}">Ici</a></p>
</body>
</html>